<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WDJR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1FE7EABE1DBEEB7E00A42C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FE7EAD71DBEEB7E00A42C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FE7EAE21DBEEB7F00A42C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
